/* Literal Definitions */
html * {
	font-size: 1.5em;
	font-family: Arial !important;
}

form {
	display: flex;
	flex-direction: column;
}

input[type=button], 
input[type=submit] {
	width: auto;
	height: 40px;
	font-size: .5em;
}

input[type=text],
input[type=password] {
	height: 40px;
	font-size: .5em;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Class Definitions */
.centered-container {
	display: grid;
	align-items: center;
	justify-content: center;
}

.form-buttons {
	display: flex;
}

.form-buttons input {
	width: 50%;
	font-size: .3em;
}

.form-buttons input[type=button] {
	margin-right: 10px;
}

.game-container {
	background-color: lightgray;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

/* ID Definitions */
#info-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 30vw;
	min-width: 300px;
	background-color: gray;
	border-radius: 10px;
	padding: 10px;
}

#info-panel span {
	font-size: 1em;
}

#profile-picture {
	width: 200px;
	height: auto;
	border-radius: 50%;
	margin: 20px;
}

#game-list-container {
	width: 50vw;
	font-size: .5em;
}

#game-list {
	list-style-type:none;
}