<html>
	<head>
		<title>My Steam List - Profile</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/msl.css' %">
	</head>
	<body style="display:flex; margin-left: 10vw; margin-right: 10vw; margin-top: 5vh;">
		<div id="info-panel">
			<img id="profile-picture" src="/assets/profile_612x612.jpg" alt="Profile picture">
			<span id="username-value">UserName</span>
			<span id="total-games-text"><span id="total-games-value">23</span> Games</span>
			<input type="button" id="add-friend-button" onclick="" value="Add Friend">
		</div>
		<div id="game-list-container">
			<ul id="game-list">
				<li class="game-container">
					<span class="game-name">Game Name</span><br/>
					<span class="other-data">Data</span>
				</li>
				<li class="game-container">
					<span class="game-name">Game Name</span><br/>
					<span class="other-data">Data</span>
				</li>
			</ul>
		</div>
	</body>
</html>